<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" lang="en">

<f:layout name="Backend"/>

<f:section name="content">
	<f:render arguments="{_all}" section="Newsletters"/>
</f:section>

<f:section name="Newsletters">

	<h1>
		<f:translate key="module.newsletter.list.title">CuteMailing: Newsletters</f:translate>
	</h1>
	<f:render arguments="{_all}" partial="Miscellaneous/FlashMessages"/>
	<f:if condition="{newsletters}">
		<f:then>
			<f:link.action action="new" class="btn btn-lg btn-primary cute__list-add-new mb-3">
				<i class="fa fa-plus"></i>
				<f:translate key="module.newsletter.new.title">Add newsletter</f:translate>
			</f:link.action>
			<table class="table table-striped table-condensed">
				<thead>
				<tr>
					<th>#</th>
					<th>
						<f:translate key="module.newsletter.list.tableheader.title">Newsletter title
						</f:translate>
					</th>
					<th>
						<f:translate key="module.newsletter.list.tableheader.status">Status
						</f:translate>
					</th>
					<th>
						<f:translate key="module.newsletter.list.tableheader.progress">Progress
						</f:translate>
					</th>
					<th>
						<f:translate key="module.newsletter.list.tableheader.sendingTime">Sending time
						</f:translate>
					</th>
					<th>Sending</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<f:for as="newsletter" each="{newsletters}" iteration="iteration">
					<tr>
						<td>{iteration.cycle}.</td>
						<td>
							<span title="Uid: {newsletter.uid}">{newsletter.title}</span>
						</td>
						<td>
							<f:switch expression="{newsletter.status}">
								<f:case value="1"><i class="fa fa-flask"></i> Tested</f:case>
								<f:case value="2"><i class="fa fa-clock-o"></i> Scheduled</f:case>
								<f:case value="3"><i class="fa fa-check-square"></i> Sent</f:case>
								<f:defaultCase>Created</f:defaultCase>
							</f:switch>
						</td>
						<td>
							<f:if condition="{newsletter.scheduled}">
								<f:then>
									<f:render partial="Sendout/Progress" section="main" arguments="{progress:newsletter.latestSendout.progress,total:newsletter.latestSendout.total,completed:newsletter.latestSendOut.completedMailTasks}" />
								</f:then>
								<f:else if="{newsletter.sent}">
									<f:render partial="Sendout/Progress" section="main" arguments="{progress:newsletter.latestSendout.progress,total:newsletter.latestSendout.total,completed:newsletter.latestSendOut.completedMailTasks}" />
								</f:else>
							</f:if>
						</td>
						<td>{newsletter.sendingTime -> f:format.date(format: 'Y-m-d H:i')}</td>
						<td class="cute__list-edit-button">
							<f:comment><!-- status const SEND = 2; const CREATED = 0; const TESTED = 1; --></f:comment>
							<f:if condition="{newsletter.status} != 2">
								<f:link.action action="enable" additionalAttributes="{data-luxletter-confirm:'{f:translate(key:\'module.newsletter.list.enableConfirm\',extensionName:\'CuteMailing\')}'}" arguments="{newsletter:newsletter}"
															 class="btn btn-primary">
									<i class="fa fa-send"></i>
									<f:translate key="module.newsletter.list.enable">enable</f:translate>
								</f:link.action>
							</f:if>
							<f:link.action action="sendTestMail" arguments="{newsletter:newsletter}" class="btn btn-primary">
								<i class="fa fa-flask"></i>
								<f:translate key="module.newsletter.list.test">Send test mail</f:translate>
							</f:link.action>
						</td>
						<td>
							<div class="btn-group">
								<f:link.action action="edit" arguments="{newsletter:newsletter}" class="btn btn-default"
															 title="{f:translate(key: 'module.newsletter.list.edit', extensionName: 'CuteMailing')}">
											<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-page-open"
														data-identifier="actions-page-open">
												<span class="icon-markup">
													<svg class="icon-color">
														<use
															xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/actions.svg#actions-file-edit"></use>
													</svg>
												</span>
												<span class="sr-only">
													<f:translate key="module.newsletter.list.edit">
														edit
													</f:translate>
												</span>
											</span>
								</f:link.action>
								<f:link.action
									action="delete"
									additionalAttributes="{data-luxletter-confirm:'{f:translate(key:\'module.newsletter.list.deleteConfirm\',extensionName:\'CuteMailing\')}'}"
									arguments="{newsletter:newsletter}"
									class="btn btn-default t3js-record-delete"
									title="{f:translate(key: 'module.newsletter.list.delete', extensionName: 'CuteMailing')}">
											<span
												class="t3js-icon icon icon-size-small icon-state-default icon-actions-edit-delete"
												data-identifier="actions-edit-delete">
												<span class="icon-markup">
													<svg class="icon-color">
														<use
															xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/actions.svg#actions-delete"></use>
													</svg>
												</span>
											</span>
									<span class="sr-only">
												<f:translate
																		 key="module.newsletter.list.delete">delete</f:translate>
											</span>
								</f:link.action>
							</div>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<div class="lux-workflow-new"></div>
			<f:link.action action="new" class="btn btn-lg-extra btn-primary btn-primary-extra">
				<span><f:translate
													 key="module.newsletter.list.createnew.1">No newsletters yet</f:translate></span>
				<f:translate key="module.newsletter.list.createnew.2">Add a new one</f:translate>
			</f:link.action>
		</f:else>
	</f:if>
</f:section>
