<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">
<f:layout name="Backend"/>

<f:section name="content">
	<f:render arguments="{_all}" partial="Miscellaneous/FlashMessages"/>
	<f:form action="new">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="lb-lg" for="newsletterPage">
						<f:translate key="module.newsletter.new.field.origin">Origin PID</f:translate>
						*
					</label>
					<f:form.textfield
							class="form-control input-lg"
							id="newsletterPage"
							name="newsletterPage"
							required="required"
							value="{newsletterPage}"/>
					<span class="help-block">
                    <f:translate key="module.newsletter.new.field.origin.description">PID or absolute URL</f:translate>
                </span>
				</div>
			</div>
			<f:if condition="{displayLanguageSelect}">
				<div class="col-md-6">
				<div class="form-group">
					<label class="lb-lg" for="language">
						<f:translate key="module.newsletter.prepare.field.language">Language
						</f:translate>
						*
					</label>
					<f:form.select
							class="form-control form-select input-lg"
							id="language"
							name="language"
							value="{selectedLanguage}"
							options="{languages}"
							optionValueField="languageId"
							optionLabelField="title"
					/>
					<span class="help-block">
					<f:translate key="message.chooseLanguage">Chose a language.</f:translate>
				</span>
				</div>
			</div>
			</f:if>
		</div>
		<f:form.submit class="btn btn-lg btn-primary mb-3 pull-right" value="{f:translate(key:'startWizard',extensionName:'CuteMailing')}" />
	</f:form>
</f:section>
</html>
