<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" lang="en">

<fieldset>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="lb-lg" for="title">
					<f:translate key="module.newsletter.new.field.title">Title</f:translate>
					*
				</label>
				<f:form.textfield
					class="form-control input-lg"
					data="{cutemailing-mandatory:'1'}"
					id="title"
					placeholder="{f:translate(key:'module.newsletter.new.field.title.placeholder')}"
					property="title"
					required="required"
					value="{title}" />
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.title.description">Useful title</f:translate>
                </span>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="lb-lg" for="sendingTime">
					<f:translate key="module.newsletter.new.field.sendingTime">Sending date
					</f:translate>
				</label>
				<f:if condition="{newsletter.sendingTime}">
					<f:then>
						<f:form.textfield
							class="form-control input-lg"
							id="sendingTime"
							property="sendingTime"
							type="datetime-local"
							value="{newsletter.sendingTime -> f:format.date(format: 'Y-m-d H:i')}"/>
					</f:then>
					<f:else>
						<f:form.textfield
							class="form-control input-lg"
							id="sendingTime"
							property="sendingTime"
							type="datetime-local"
							value="{defaultSendingTime -> f:format.date(format: 'Y-m-d H:i')}"/>
					</f:else>
				</f:if>

				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.sendingTime.description">Sending date description</f:translate>
                </span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="lb-lg" for="newsletterPage">
					<f:translate key="module.newsletter.new.field.origin">Origin PID</f:translate>
					*
				</label>
				<f:form.textfield
					class="form-control input-lg"
					data="{cutemailing-mandatory:'1',cutemailing-wizardpreviewevent:'newsletter'}"
					id="newsletterPage"
					placeholder="https://www.yourdomain/newsletter/2020-01/"
					property="newsletterPage"
					required="required"
					value="{newsletterPage}"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.origin.description">PID or absolute URL</f:translate>
                </span>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<label class="lb-lg" for="description">
					<f:translate key="module.newsletter.new.field.description">description
					</f:translate>
				</label>
				<f:form.textarea class="form-control input-lg"
												 id="description"
												 property="description"
												 style="height: 200px;"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.description.description">Example description</f:translate>
                </span>
			</div>
		</div>
	</div>


	<button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="2" type="button">
		<f:translate key="module.newsletter.wizard.next">Next</f:translate>
	</button>
</fieldset>


<fieldset>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="lb-lg" for="subject">
					<f:translate key="module.newsletter.new.field.subject">Subject</f:translate>
					*
				</label>
				<f:form.textfield
						class="form-control input-lg"
						data="{cutemailing-mandatory:'1',cutemailing-testmail:'subject'}"
						id="subject"
						placeholder="{f:translate(key:'module.newsletter.new.field.subject.placeholder')}"
						property="subject"
						required="required"
						value="{subject}"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.subject.description">Email subject</f:translate>
                </span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="lb-lg" for="sender">
					<f:translate key="module.newsletter.new.field.sender">Sender</f:translate>
					*
				</label>
				<f:form.textfield
					class="form-control form-input input-lg"
					data="{cutemailing-mandatory:'1',cutemailing-testmail:'sender'}"
					id="sender"
					property="sender"
					required="required"
					value="{sender}"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.sender.description">Sender description</f:translate>
                </span>
				<label class="lb-lg" for="senderName">
					<f:translate key="module.newsletter.new.field.senderName">Sender name
					</f:translate>
					*
				</label>
				<f:form.textfield
					class="form-control form-input input-lg"
					id="senderName"
					property="senderName"
					required="required"
					value="{senderName}"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.configuration.senderName">Sender name</f:translate>
                </span>
				<label class="lb-lg" for="replyTo">
					<f:translate key="module.newsletter.new.field.replyTo">Reply to</f:translate>
					*
				</label>
				<f:form.textfield
					class="form-control form-input input-lg"
					data="{cutemailing-mandatory:'1',cutemailing-testmail:'replyTo'}"
					id="replyTo"
					property="replyTo"
					required="required"
					value="{replyTo}"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.replyTo.description">Reply to address</f:translate>
                </span>
				<label class="lb-lg" for="replyToName">
					<f:translate key="module.newsletter.new.field.replyToName">Reply to name
					</f:translate>
					*
				</label>
				<f:form.textfield
					class="form-control form-input input-lg"
					data="{cutemailing-mandatory:'1',cutemailing-testmail:'replyToName'}"
					id="replyToName"
					property="replyToName"
					required="required"
					value="{replyToName}"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.replyToName.description">Reply to name</f:translate>
                </span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="lb-lg" for="receiver">
					<f:translate key="module.newsletter.new.field.receiver">Receiver</f:translate>
					*
				</label>
				<f:form.select
					class="form-control form-select input-lg"
					data="{cutemailing-mandatory:'1',cutemailing-wizardpreviewevent:'users'}"
					id="receiver"
					optionLabelField="name"
					optionValueField="uid"
					options="{recipientList}"
					prependOptionLabel="{f:translate(key:'pleasechoose',extensionName:'CuteMailing')}"
					prependOptionValue=""
					property="recipientList"
					required="required"/>
				<span class="help-block">
                    <f:translate key="module.newsletter.new.field.receiver.description">Receiver group description</f:translate>
                </span>
				<label class="lb-lg" for="testReceiver">
					<f:translate key="module.newsletter.new.field.testReceiver">Test Receiver
					</f:translate>
					*
				</label>
				<f:form.select
					class="form-control form-select input-lg"
					data="{cutemailing-mandatory:'1',cutemailing-wizardpreviewevent:'testRecipientList'}"
					id="testReceiver"
					optionLabelField="name"
					optionValueField="uid"
					options="{testRecipientList}"
					prependOptionLabel="{f:translate(key:'pleasechoose',extensionName:'CuteMailing')}"
					prependOptionValue=""
					property="testRecipientList"
					required="required" />
				<span class="help-block">
					<f:translate key="module.newsletter.new.field.testReceiver.description">Test receiver group description</f:translate>
				</span>
			</div>
		</div>
	</div>

	<div style="margin: 20px 0;">
		<button class="btn btn-primary btn-lg" data-wizardform-gotostep="1">
			<f:translate key="module.newsletter.wizard.back">Back</f:translate>
		</button>
		<button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="3">
			<f:translate key="module.newsletter.wizard.next">Next</f:translate>
		</button>
	</div>
</fieldset>


<fieldset>
	<div class="alert alert-warning" data-cutemailing-wizardstatus="pending" role="alert">
		<h4 class="alert-heading">
			<f:translate key="module.newsletter.new.message.notready">Newsletter is not yet ready
				to be sent
			</f:translate>
		</h4>
		<p>
			<f:translate key="module.newsletter.new.message.notready.mandatory">Please fill all
				mandatory fields
			</f:translate>
		</p>
	</div>
	<div class="alert alert-success" data-cutemailing-wizardstatus="ready" role="alert" style="display: none;">
		<h4 class="alert-heading">
			<f:translate key="module.newsletter.new.message.ready">Newsletter is ready for
				dispatch
			</f:translate>
		</h4>
		<p>
			<f:translate key="module.newsletter.new.message.ready.addition">If you click save (see
				below), the newsletter will be planned for dispatch
			</f:translate>
		</p>
	</div>



    <div class="row">
        <div class="col-md-12">
            <div data-cutemailing-wizardpreview="users">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <f:translate key="module.newsletter.new.wizarduserpreview.previewreceivers">Preview of the receivers</f:translate>
                            <span class="badge" title="{userAmount} receivers">{userAmount}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert" data-cutemailing-wizardstatus="pending">
                            <h4 class="alert-heading">
                                <f:translate key="module.newsletter.new.message.notready">Newsletter is not yet ready to be sent</f:translate>
                            </h4>
                            <p><f:translate key="module.newsletter.new.message.notready.receiver">Please choose a receiver group</f:translate></p>
                        </div>
                    </div>
                </div>
            </div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<f:translate key="module.newsletter.new.wizarduserpreview.previewnewsletter">
							Newsletter preview
						</f:translate>
					</h3>
				</div>
				<div class="panel-body" data-cutemailing-wizardpreview="newsletter">
					<div class="alert alert-warning" role="alert">
						<h4 class="alert-heading">
							<f:translate key="module.newsletter.new.message.notready">Newsletter is not
								yet ready to be sent
							</f:translate>
						</h4>
						<p>
							<f:translate key="module.newsletter.new.message.notready.origin">Please select
								an origin for your newsletter
							</f:translate>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<button class="btn btn-primary btn-lg" data-wizardform-gotostep="2">
		<f:translate key="module.newsletter.wizard.back">Back</f:translate>
	</button>
	<f:form.hidden property="pageTypeHtml" data="{cutemailing-pagetype-html:true}" value="{pageTypeHtml}"/>
	<f:form.hidden property="pageTypeText" data="{cutemailing-pagetype-text:true}" value="{pageTypeText}"/>
	<f:form.hidden property="allowedMarker" value="{allowedMarker}"/>
	<f:form.hidden property="returnPath" value="{returnPath}"/>
	<f:form.hidden property="language" data="{cutemailing-language:1}" value="{language}"/>
	<f:form.submit class="btn btn-primary btn-lg pull-right" data="{cutemailing-wizardstatus:'pending'}"
								 disabled="disabled" value="{f:translate(key:'save',extensionName:'CuteMailing')}"/>
	<f:form.submit class="btn btn-primary btn-lg pull-right" data="{cutemailing-wizardstatus:'ready'}"
								 style="display:none" value="{f:translate(key:'save',extensionName:'CuteMailing')}"/>
</fieldset>
</html>
