<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">
<fieldset>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.title" extensionName="CuteMailing">Title</f:translate>*
                </label>
                <f:form.textfield
                    class="form-control input-lg"
                      property="title"
											value="{title}"
                      id="title"
                      placeholder="Newsletter Product A 2020/01"
                      data="{luxletter-mandatory:'1'}"
                      required="required"/>
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.title.description" extensionName="CuteMailing">Useful title</f:translate>
                </span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="sendingTime" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.sendingTime" extensionName="CuteMailing">Sending date</f:translate>
                </label>
                <f:form.textfield
                    type="datetime-local"
										value="{newsletter.sendingTime -> f:format.date(format: 'Y-m-d H:i')}"
                    property="sendingTime"
                    id="sendingTime"
                    class="form-control input-lg" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.sendingTime.description" extensionName="CuteMailing">Sending date description</f:translate>
                </span>
            </div>
        </div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="newsletterPage" class="lb-lg">
						<f:translate key="module.newsletter.new.field.origin" extensionName="CuteMailing">Origin PID</f:translate>*
					</label>
					<f:form.textfield
						class="form-control input-lg"
						property="newsletterPage"
						id="newsletterPage"
						value="{newsletterPage}"
						placeholder="https://www.yourdomain/newsletter/2020-01/"
						data="{luxletter-mandatory:'1',cutemailing-wizardpreviewevent:'newsletter'}"
						required="required"/>
					<span class="help-block">
                    <f:translate key="module.newsletter.new.field.origin.description" extensionName="CuteMailing">PID or absolute URL</f:translate>
                </span>
				</div>
			</div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.description" extensionName="CuteMailing">description</f:translate>
                </label>
                <f:form.textarea class="form-control input-lg"
                     property="description"
                     id="description"
                     style="height: 200px;" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.description.description" extensionName="CuteMailing">Example description</f:translate>
                </span>
            </div>
        </div>
    </div>


    <button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="2" type="button">
        <f:translate key="module.newsletter.wizard.next" extensionName="CuteMailing">Next</f:translate>
    </button>
</fieldset>


<fieldset>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="sender" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.sender" extensionName="CuteMailing">Sender</f:translate>*
                </label>
                <f:form.textfield
                        id="sender"
                        class="form-control form-input input-lg"
                        value="{sender}"
                        property="sender"
                        data="{luxletter-mandatory:'1',luxletter-testmail:'sender'}"
                        required="required" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.sender.description" extensionName="CuteMailing">Sender description</f:translate>
                </span>
							<label for="senderName" class="lb-lg">
								<f:translate key="module.newsletter.new.field.senderName" extensionName="CuteMailing">Sender name</f:translate>*
							</label>
							<f:form.textfield
								id="senderName"
								class="form-control form-input input-lg"
								value="{senderName}"
								property="senderName"
								required="required" />
							<span class="help-block">
                    <f:translate key="module.newsletter.new.field.configuration.senderName" extensionName="CuteMailing">Sender name</f:translate>
                </span>
							<label for="replyTo" class="lb-lg">
								<f:translate key="module.newsletter.new.field.replyTo" extensionName="CuteMailing">Reply to</f:translate>*
							</label>
							<f:form.textfield
								id="replyTo"
								class="form-control form-input input-lg"
								value="{replyTo}"
								property="replyTo"
								data="{luxletter-mandatory:'1',luxletter-testmail:'replyTo'}"
								required="required" />
							<span class="help-block">
                    <f:translate key="module.newsletter.new.field.replyTo.description" extensionName="CuteMailing">Reply to address</f:translate>
                </span>
							<label for="replyToName" class="lb-lg">
								<f:translate key="module.newsletter.new.field.replyToName" extensionName="CuteMailing">Reply to name</f:translate>*
							</label>
							<f:form.textfield
								id="replyToName"
								class="form-control form-input input-lg"
								value="{replyToName}"
								property="replyToName"
								data="{luxletter-mandatory:'1',luxletter-testmail:'replyToName'}"
								required="required" />
							<span class="help-block">
                    <f:translate key="module.newsletter.new.field.replyToName.description" extensionName="CuteMailing">Reply to name</f:translate>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="receiver" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.receiver" extensionName="CuteMailing">Receiver</f:translate>*
                </label>
                <f:form.select
                        id="receiver"
                        class="form-control form-select input-lg"
                        options="{recipientList}"
												optionValueField="uid"
												optionLabelField="name"
                        prependOptionValue=""
                        prependOptionLabel="{f:translate(key:'pleasechoose',extensionName='CuteMailing')}"
                        data="{luxletter-mandatory:'1',cutemailing-wizardpreviewevent:'users'}"
                        property="recipientList"
                        required="required" />
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.receiver.description" extensionName="CuteMailing">Receiver group description</f:translate>
                </span>
							<label for="testReceiver" class="lb-lg">
								<f:translate key="module.newsletter.new.field.testReceiver" extensionName="CuteMailing">Test Receiver</f:translate>*
							</label>
							<f:form.select
								id="testReceiver"
								class="form-control form-select input-lg"
								options="{testRecipientList}"
								optionValueField="uid"
								optionLabelField="name"
								prependOptionValue=""
								prependOptionLabel="{f:translate(key:'pleasechoose',extensionName='CuteMailing')}"
								data="{luxletter-mandatory:'1',cutemailing-wizardpreviewevent:'testRecipientList'}"
								property="testRecipientList"
								required="required" />
							<span class="help-block">
											<f:translate key="module.newsletter.new.field.testReceiver.description" extensionName="CuteMailing">Test receiver group description</f:translate>
									</span>
						</div>
            </div>
        </div>




    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="subject" class="lb-lg">
                    <f:translate key="module.newsletter.new.field.subject" extensionName="CuteMailing">Subject</f:translate>*
                </label>
                <f:form.textfield
                    class="form-control input-lg"
                    property="subject"
										value="{subject}"
                    id="subject"
                    placeholder="Your new newsletter for product A (2020/01)"
                    data="{luxletter-mandatory:'1',luxletter-testmail:'subject'}"
                    required="required"/>
                <span class="help-block">
                    <f:translate key="module.newsletter.new.field.subject.description" extensionName="CuteMailing">Email subject</f:translate>
                </span>
            </div>
        </div>
    </div>


    <div style="margin: 20px 0;">
        <button class="btn btn-primary btn-lg" data-wizardform-gotostep="1">
            <f:translate key="module.newsletter.wizard.back" extensionName="CuteMailing">Back</f:translate>
        </button>
        <button class="btn btn-primary btn-lg pull-right" data-wizardform-gotostep="3">
            <f:translate key="module.newsletter.wizard.next" extensionName="CuteMailing">Next</f:translate>
        </button>
    </div>
</fieldset>







<fieldset>
    <div class="alert alert-warning" role="alert" data-cutemailing-wizardstatus="pending">
        <h4 class="alert-heading">
            <f:translate key="module.newsletter.new.message.notready" extensionName="CuteMailing">Newsletter is not yet ready to be sent</f:translate>
        </h4>
        <p><f:translate key="module.newsletter.new.message.notready.mandatory" extensionName="CuteMailing">Please fill all mandatory fields</f:translate></p>
    </div>
    <div class="alert alert-success" role="alert" data-cutemailing-wizardstatus="ready" style="display: none;">
        <h4 class="alert-heading">
            <f:translate key="module.newsletter.new.message.ready" extensionName="CuteMailing">Newsletter is ready for dispatch</f:translate>
        </h4>
        <p><f:translate key="module.newsletter.new.message.ready.addition" extensionName="CuteMailing">If you click save (see below), the newsletter will be planned for dispatch</f:translate></p>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" data-cutemailing-wizardstatus="ready" style="display: none; height: auto;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <f:translate key="module.newsletter.new.field.testmail" extensionName="CuteMailing">Testmail</f:translate>
                    </h3>
                </div>
                <div class="panel-body">
                    <div data-luxletter-testmail="fields" style="display: flex; flex-direction: row;">
                        <label for="test" class="lb-lg" style="width:15%;">
                            <f:translate key="module.newsletter.new.field.testmail.receiver" extensionName="CuteMailing">Receiver</f:translate>
                        </label>
                        <f:form.textfield
                            class="form-control input-lg"
                            name="testmail"
                            id="test"
                            data="{luxletter-testmail:'email'}"
                            style="margin: 0 20px; width:75%;"
                            placeholder="your@email.org"/>
                        <button class="btn btn-primary" data-luxletter-testmail="submit" style="width:10%;">
                            <f:translate key="send" extensionName="CuteMailing">Send</f:translate>
                        </button>
                    </div>


                    <div class="alert alert-success" role="alert" data-luxletter-testmail="message" style="display: none; margin-top: 20px;">
                        <h4 class="alert-heading">
                            <f:translate key="module.newsletter.new.message.testmailsent" extensionName="CuteMailing">Newsletter was sent</f:translate>
                        </h4>
                        <p><f:translate key="module.newsletter.new.message.testmailsent.addition" extensionName="CuteMailing">Your test newsletter was sent correctly</f:translate></p>
                    </div>
                </div>
            </div>



            <div data-cutemailing-wizardpreview="users">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <f:translate key="module.newsletter.new.wizarduserpreview.previewreceivers" extensionName="CuteMailing">Preview of the receivers</f:translate>
                            <span class="badge" title="{userAmount} receivers">{userAmount}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert" data-cutemailing-wizardstatus="pending">
                            <h4 class="alert-heading">
                                <f:translate key="module.newsletter.new.message.notready" extensionName="CuteMailing">Newsletter is not yet ready to be sent</f:translate>
                            </h4>
                            <p><f:translate key="module.newsletter.new.message.notready.receiver" extensionName="CuteMailing">Please choose a receiver group</f:translate></p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <f:translate key="module.newsletter.new.wizarduserpreview.previewnewsletter" extensionName="CuteMailing">Newsletter preview</f:translate>
                    </h3>
                </div>
                <div class="panel-body" data-cutemailing-wizardpreview="newsletter">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">
                            <f:translate key="module.newsletter.new.message.notready" extensionName="CuteMailing">Newsletter is not yet ready to be sent</f:translate>
                        </h4>
                        <p><f:translate key="module.newsletter.new.message.notready.origin" extensionName="CuteMailing">Please select an origin for your newsletter</f:translate></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <button class="btn btn-primary btn-lg" data-wizardform-gotostep="2">
        <f:translate key="module.newsletter.wizard.back" extensionName="CuteMailing">Back</f:translate>
    </button>
		<f:form.hidden property="pageTypeHtml" value="{pageTypeHtml}"/>
		<f:form.hidden property="pageTypeText" value="{pageTypeText}"/>
		<f:form.hidden property="allowedMarker" value="{allowedMarker}"/>
    <f:form.submit class="btn btn-primary btn-lg pull-right" value="{f:translate(key:'save',extensionName='CuteMailing')}" disabled="disabled" data="{cutemailing-wizardstatus:'pending'}"/>
    <f:form.submit class="btn btn-primary btn-lg pull-right" value="{f:translate(key:'save',extensionName='CuteMailing')}" data="{cutemailing-wizardstatus:'ready'}" style="display:none"/>
</fieldset>
</html>
