<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Backend"/>

<f:section name="content">
	<f:flashMessages />
	<div class="row">
		<div class="col-md-12">
			<h1>
				<f:translate key="module.newsletter.new.title">Add newsletter</f:translate>
			</h1>

			<f:render arguments="{_all}" partial="Newsletter/Wizard"/>

			<f:form action="update" class="wizardform" name="newsletter" object="{newsletter}">
				<f:render arguments="{_all}" partial="Newsletter/FormFields"/>
			</f:form>
		</div>
	</div>
</f:section>
