<!--suppress HtmlRequiredLangAttribute -->
<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="cutemailing-wizard-userpreview">
	<f:if condition="{userAmount} > 0">
		<f:then>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<f:translate key="module.newsletter.new.wizarduserpreview.previewreceivers" extensionName="CuteMailing">Preview of the receivers</f:translate>
						<span class="badge" title="{userAmount} {f:translate(key:'module.newsletter.new.wizarduserpreview.amountReceivers',extensionName:'CuteMailing')}">{userAmount}</span>
					</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<f:for as="user" each="{userPreview}">
							<li class="list-group-item">
								{user.firstName} {user.lastName} ({user.email})
							</li>
						</f:for>
						<f:if condition="{userAmount} > 3">
							<li class="list-group-item">
								<img class="cutemailing-mailpreview--image" height="32" width="32"
										 src="{f:uri.resource(path: 'Images/DummyUser.svg', extensionName: 'CuteMailing')}" />
								{userAmount - 3}
								<f:translate key="module.newsletter.new.wizarduserpreview.further" extensionName="CuteMailing">Further</f:translate>
								...
							</li>
						</f:if>
					</ul>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-warning" role="alert">
				<h4 class="alert-heading">
					<f:translate key="module.newsletter.new.wizarduserpreview.nousersfound.title" extensionName="CuteMailing">No users</f:translate>
				</h4>
				<p>
					<f:translate key="module.newsletter.new.wizarduserpreview.nousersfound.addition" extensionName="CuteMailing">Choose a different group</f:translate>
				</p>
			</div>
		</f:else>
	</f:if>
</div>
</html>
