/*noinspection CssInvalidFunction*/
:root {
	/* Palette : https://coolors.co/a5bf3c-869b31-8f857d-5c5552-433633 */
	--cute-color: light-dark(#A5BF3C, #404714FF);
	--cute-color--darken: light-dark(#869b31, #202e08);
	--cute-wizardline-background-color: light-dark(#ddd, var(--typo3-surface-bright));
	--cute-default-gap: var(--typo3-card-grid-gap);
	--cute-color-white: light-dark(#fff, #fff);

}

.wizard {
	background-color: var(--cute-color-white);
	padding: 0.2em 0 0.2em 0.2em;
	display: flex;
	border-radius: 4px;
	margin-bottom:var(--cute-default-gap);
}

.wizard__step {
	flex-grow: 1;
	padding: 20px 12px 18px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	min-width: 33.00%;
	margin-left: 3px;
	font-size: 18px;
	color: var(--cute-color-white);
	font-weight: bold;
	background: var(--cute-wizardline-background-color);
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 2px;
}
.wizard__step:not(.prepare) {
	text-align: center;
}

a.wizard__step:hover {
	text-decoration: none
}

.wizard__step:first-child {
	margin-left: 0
}

.wizard:not(.left-arrow) a:before {
	width: 0;
	height: 0;
	border-top: 34px inset transparent;
	border-bottom: 34px inset transparent;
	border-left: 34px solid var(--cute-color-white);
	position: absolute;
	content: "";
	top: 0;
	left: 0
}

.wizard:not(.left-arrow) a:after {
	width: 0;
	height: 0;
	border-top: 34px inset transparent;
	border-bottom: 34px inset transparent;
	border-left: 34px solid var(--cute-wizardline-background-color);
	position: absolute;
	content: "";
	top: 0;
	right: -34px;
	z-index: 2
}

.wizard.left-arrow a:before {
	width: 0;
	height: 0;
	border-top: 34px inset transparent;
	border-bottom: 34px inset transparent;
	border-right: 34px solid var(--cute-wizardline-background-color);
	position: absolute;
	content: "";
	top: 0;
	left: -34px;
	z-index: 2
}

.wizard.left-arrow a:after {
	width: 0;
	height: 0;
	border-top: 34px inset transparent;
	border-bottom: 34px inset transparent;
	border-right: 34px solid var(--cute-color-white);
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	z-index: 2
}

.wizard a:first-child:before, .wizard a:last-child:after {
	border: none
}

.wizard__step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.wizard__step:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.wizard.left-arrow a:last-child:before, .wizard.small.left-arrow a:last-child:before {
	border-right-color: var(--cute-color)
}

.wizard .badge {
	margin: 0 5px 0 18px;
	position: relative;
	top: -1px;
	border-radius: 15px;
	font-size: 20px;
	background: var(--cute-color-white);
	color: var(--cute-wizardline-background-color);
}

.wizard .badge .number {
	display: inline-block
}

.wizard a:first-child .badge {
	margin-left: 0
}

.wizard .current, .wizard .progress-current {
	background: var(--cute-color);
	color: var(--cute-color-white);
}

.wizard .current .badge, .wizard .progress-current .badge {
	color: var(--cute-color)
}

.wizard .current:after, .wizard .progress-current:after {
	border-left-color: var(--cute-color) !important
}

.wizard.left-arrow .current:before, .wizard.left-arrow .progress-current:before, .wizard.small.left-arrow .current:before, .wizard.small.left-arrow .progress-current:before {
	border-right-color: var(--cute-color)
}

label {
	font-weight: normal
}

.color-cute {
	color: var(--cute-color)
}

.color-grey {
	color: var(--cute-wizardline-background-color);
}


@media screen and (min-width: 992px) {
	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap
	}
}

@media screen and (min-width: 992px) {
	.row > [class*='col-'] {
		display: flex;
		flex-direction: column
	}
}

.panel-body {
	overflow: hidden
}

.input-lg {
	line-height: 1.3 !important
}

.progress {
	margin-bottom: 0
}

.progress-bar {
	background-color: var(--cute-color)
}
.cute__list-add-new {
	font-weight: bold;
}
.btn-lg {
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 4px;
}
.btn-primary {
	background-color: var(--cute-color);
	border-color: var(--cute-color);
	color: var(--cute-color-white);
}

.btn-primary:hover, .btn-primary:active  {
	background-color: var(--cute-color--darken);
	border-color: var(--cute-color--darken);
}
.button-line {
	display: flex;
	justify-content: space-between;
}
.button-line.button-line__main {
	justify-content: flex-end;
}

.cute__flash-message-list {
	list-style: none;
}

.help-block {
	margin-top: .5em;
}

.help-block__code {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.help-block__code > li {
	margin: 5px 0
}

.help-block__code > li > span {
	font-style: italic;
	background: var(--cute-wizardline-background-color);
	display: inline-block;
	padding: 2px 10px;
	margin-right: 10px;
	font-weight: bold
}

.table-pointer > tbody > tr {
	cursor: pointer
}

.cutemailing-mailprefiew--image {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	display: inline-block;
	overflow: hidden;
	margin-right: 20px
}

.cutemailing-iframepreview {
	width: 100%;
	border: none;
	height: 800px;
}

.cutemailing-messages {
	padding: 15px 0;
	list-style-type: none
}

.cutemailing-messages > li {
	margin: 5px 30px;
	font-size: 16px
}

.vcenter {
	display: flex;
	align-items: center;
	justify-content: center
}

.cute__status-scheduled {
	font-weight: bold;
	margin-right: .2em;
}

.cute__list-change-button {
	background-color: dimgrey;
}
